* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
}

.container {
    padding: 1px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}

nav a {
    color: #53674d;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

.invite {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invite img {
    width: 80%;
    border-radius: 3%;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 50%;
}