* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    max-width: 100%;
    overflow-x: hidden;
}

.container {
    padding: 1px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}

nav a {
    color: #53674d;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

.title h1 {
    color: #53674d;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
}

.logo img {
    width: 50%;
}

.invite {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.invite img {
    width: 80%;
    border-radius: 3%;
}

.whatsapp-button a {
    color: #fff;
    text-decoration: none;
    padding: 20px 50px;
    background-color: #53674d;
    border-radius: 30px;
}

.photo-carousel {
    overflow: hidden;
    width: 100%;
}

@keyframes slide {
    from {transform: translateX(0%);}
    to {transform: translateX(-50.5%);}
}

.track-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: max-content;
    animation: slide 10s linear infinite;
}

.track-images img {
    width: 120px;
    flex-shrink: 0;
    border-radius: 3%;
}

